// GLOBAL STYLESHEET //
// font = noto sans or open sans > index.html

// colors
$transparent: rgba(0, 0, 0, 0);
$white: #FFFFFF;
$whiteSmoke: #F5F5F5;
$lightGrey: #E6E6E6;
$darkGrey: #3D3D3D;
$lightBlack: #262626;
// outer app
$viridianGreen: #13A5AD;
// inner app
// blue green
// darkest
$darkCyan: #398D93;
// medium
$cadetBlue: #45A9B0;
// bright 
$middleBlue: #7BC6CC;
// brightest
$powderBlue: #A5D8DC;
// pink
// darkest
$babyPink: #F0C0BF;
// brightest
$mistyRose: #F7DEDE;
$lavenderBlush: #FBEFEE;

// effects
$boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$boxShadowLight: rgba(0, 0, 0, 0.16) 0px 1px 4px;

// mixins

// responsive styles
@mixin mobile{
    @media screen and (max-width: 480px){
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin laptop{
    @media screen and (max-width: 1200px){
        @content;
    }
}
// end responsive styles

@mixin elementLayout() {
    display: flex;
    align-items: center
}

@mixin pageLayout() {
    background-color: $viridianGreen;
    height: 100vh;
    @include elementLayout();
    justify-content: center
}

@mixin btn($bgColor: $viridianGreen, $textColor: $white) {
    background-color: $bgColor;
    color: $textColor;
    padding: 10px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: $boxShadowLight;
    cursor: pointer;
}

@mixin hover(){
    transition: .2s all ease-in-out;
    &:hover {
        opacity: 0.7;
    }
}

@mixin img($h: 50px, $w: 50px) {
    height: $h;
    width: $w;
    border-radius: 50%;
    // to crop avatar img properly
    object-fit: cover
}

@mixin bar() {
    height: 50px;
    padding: 10px
}

html,
body {
    color: $darkGrey;
    // to set arrow cursor by default (instead of text cursor on html elements)
    cursor: default
}

// forms
.formContainer {
    @include pageLayout();

    .formWrapper {
        background-color: $white;
        box-shadow: $boxShadow;
        padding: 20px 60px;
        border-radius: 10px;
        @include elementLayout();
        flex-direction: column;
        gap: 10px;

        // TODO: define width and height of wrapper
        .logo {
            height: 100px;
            border-radius: 10px
        }

        .title {
            font-size: 24px;
            font-weight: 700
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid $powderBlue;

                &::placeholder {
                    opacity: .4
                }
            }

            // change "blue border" color
            input:focus {
                outline: 1px solid $powderBlue;
                border-radius: 3px
            }

            .avatarInput {
                display: none
            }

            label {
                @include elementLayout();
                gap: 10px;
                color: $viridianGreen;
                font-size: 12px;
                @include hover();
                cursor: pointer;

                img {
                    width: 32px
                }
            }

            .checkPassword {
                display: flex;
                gap: 5px;
                margin-bottom: 10px;

                input[type="checkbox"] {
                    width: inherit;
                    padding: 0;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: $white;
                    height: 16px;
                    width: 16px;
                    outline: none;
                    border: 1px solid $viridianGreen;
                    border-radius: 3px;
                    cursor: pointer
                }

                input[type="checkbox"]:checked {
                    background: $viridianGreen
                }

                // checkbox icon
                input[type="checkbox"]:after {
                    content: ' ';
                    position: relative;
                    left: 35%;
                    top: 20%;
                    width: 15%;
                    height: 40%;
                    border: solid $white;
                    border-width: 0 2px 2px 0;
                    transform: rotate(50deg);
                    display: none
                }

                input[type="checkbox"]:checked:after {
                    display: block
                }

                label {
                    color: $darkGrey
                }
            }

            // log in btn
            button {
                @include btn();
                @include hover()
            }
        }

        p {
            font-size: 12px;
            margin-top: 10px
        }
    }
}

// home page
.home {
    @include pageLayout();

    .container {
        box-shadow: $boxShadow;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        // prevent sidebar's bg from overflowing border (radius)
        overflow: hidden;
        @include tablet {
            width: 90%
        }

        // chatbox = twice as big as sidebar
        .sidebar {
            flex: 1;
            background-color: $middleBlue;
            box-shadow: $boxShadow;
            // to change position of log out btn on smaller screens
            position: relative;

            .navbar {
                @include elementLayout();
                background-color: $darkCyan;
                @include bar();
                justify-content: space-between;
                color: $white;

                .logo {
                    font-weight: 600;
                    color: $white
                }

                .user {
                    @include elementLayout();
                    gap: 10px;
                    
                    span, img {
                        @include tablet {
                            display: none
                        }
                    }
                    span {
                        font-size: 12px
                    }
                    img {
                        @include img(24px, 24px);
                        background-color: $darkGrey;
                    }

                    // log out btn
                    button {
                        @include btn($powderBlue, $darkGrey);
                        font-size: 10px;
                        @include hover();

                        // put logout btn at the bottom of the box on smaller screens
                        @include tablet {
                            position: absolute;
                            bottom: 10px;
                            left: 10px;
                            background-color: $babyPink;
                            color: $darkGrey;
                        }
                    }
                }
            }

            .searchbar {
                background-color: $cadetBlue;
                border-bottom: 1px solid $white;
                box-shadow: $boxShadowLight;

                .searchForm {
                    padding: 10px;

                    input {
                        background-color: $transparent;
                        border: none;
                        color: $white;
                        outline: none;

                        &::placeholder {
                            opacity: .7
                        }
                    }
                }
            }
            .userChat {
                padding: 10px;
                @include elementLayout();
                gap: 10px;
                color: $whiteSmoke;
                cursor: pointer;
                transition: .2s all ease-in-out;

                &:hover {
                    background-color: $darkCyan
                }

                img {
                    @include img();
                    background-color: $darkGrey
                }

                .userChatInfo {
                    span {
                        font-size: 18px;
                        font-weight: 600
                    }

                    p {
                        font-size: 14px;
                        color: $lightGrey
                    }
                }
            }
        }

        .chatbox {
            flex: 2;

            .chatInfo {
                @include bar();
                background-color: $powderBlue;
                @include elementLayout();
                justify-content: space-between;
                color: $darkGrey;

                .chatIcons {
                    display: flex;
                    gap: 10px;

                    img {
                        height: 24px;
                        // invert icon color (bright to dark) depending on bg color
                        filter: invert(70%);
                        @include hover();
                        cursor: pointer
                    }
                }
            }

            .messages {
                background-color: $lavenderBlush;
                padding: 10px;
                // to calculate height of messages box = 70px for chat info + 70px for message input + 20px padding inside messages box = 160px
                height: calc(100% - 160px);
                // if messages don't fit inside messages box, scroll 
                overflow-y: scroll;
                scrollbar-color: $powderBlue $babyPink;
                scrollbar-width: thin;

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo {
                        @include elementLayout();
                        flex-direction: column;

                        img {
                            @include img(40px, 40px)
                        }

                        span {
                            opacity: .5;
                            font-size: 12px;
                            font-weight: 300;
                            // align msg timestamp with user avatar when wrapped
                            text-align: center
                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            padding: 10px 20px;
                            background-color: $white;
                            // to give msg shape
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content
                        }
                        img{
                            width: 50%
                        }
                    }

                    // if the msg is from the current user, on the right
                    &.owner{
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;
                            p {
                                background-color: $babyPink;
                                border-radius: 10px 0px 10px 10px
                            }
                            img {
                                border-radius: 10px
                            }
                        }
                    }
                }
            }

            // scrollbar for other browsers
            .messages::-webkit-scrollbar {
                height: 10px;
                width: 10px
            }

            .messages::-webkit-scrollbar-track {
                background-color: $babyPink
            }

            .messages::-webkit-scrollbar-thumb {
                height: 30px;
                background-color: $powderBlue
            }

            .messageInput {
                @include bar();
                background-color: $white;
                @include elementLayout();
                justify-content: space-between;
                box-shadow: $boxShadowLight;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: $darkGrey;
                    font-size: 18px;

                    &::placeholder {
                        opacity: .3
                    }
                }

                .sendMessage {
                    @include elementLayout();
                    gap: 10px;

                    .messageFile {
                        display: none
                    }

                    img {
                        height: 24px;
                        @include hover();
                        cursor: pointer
                    }

                    // send msg btn
                    button {
                        @include btn($babyPink, $darkGrey);
                        @include hover()
                    }
                }
            }
        }
    }
}